<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    <nav>
        <div class="site-title">
            <a href="/">Blog Site</a>
            <p>A Sample Blog Site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, debitis nihil. Cumque enim est quis, autem quas voluptas. Beatae labore harum quisquam, aliquid itaque facilis vero esse alias veniam fuga.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, consequuntur. Voluptas velit eum corporis molestiae, a reprehenderit, nihil perferendis consectetur modi odit provident repudiandae facilis non mollitia culpa eaque! Quis.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In quis, sit aspernatur atque ullam fuga adipisci consectetur doloremque vel molestiae mollitia voluptas blanditiis dolore voluptates, quibusdam porro dolorum totam minus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta fugiat accusantium omnis laboriosam vero laborum aliquid doloremque qui laudantium, dolores mollitia eos dolorum harum voluptatibus minus maxime, suscipit officiis at?</p>

    </div>
</body>

</html>