<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="about content">
                <div class="about-section">
                    <h2>About Me</h2>
                    <p>I am a passionate coder from India, currently pursuing my master's in computer application. This
                        project in Node.js is my first endeavor.</p>
                </div>

                <div class="about-section">
                    <h2>About the Project</h2>
                    <p>This is a blog website where users can view, create, and delete blogs.</p>
                </div>

                <div class="about-section">
                    <h2>Future Plans for the Project</h2>
                    <p>My future plans for the project include implementing an edit option, adding the ability to like
                        and comment on blogs.</p>
                </div>

                <div class="about-section">
                    <h2>Contact Information</h2>
                    <p>You can contact me at <a href="mailto:shreeviswa7@gmail.com">shreeviswa7@gmail.com</a>. Feel free
                        to check out the project's GitHub repository <a
                            href="https://github.com/Shree-77/BlogWebsite.git">here</a>.</p>
                </div>
            </div>
    </body>

</html>